/* ***** root ***** */
:root {

    --clr-primary-orange: #F35034; 
    --clr-primary-main-bg: #000000; 
    --clr-primary-sec-bg: #262626; 

    --clr-neutral-bg-grey: #1B1B1B; 
    --clr-neutral-bgjob-grey: #161616;
    --clr-neutral-white: #FFFFFF; 
    --clr-neutral-body: #C0C0C0;

    --fs-title: 36px;
    --fs-subtitle: 24px;
    --fs-body: 20px;
    --fs-small: 13px;
    
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    --ff-main: "Inter", sans-serif;

    --border-radius: 14px;
}

@media (max-width: 500px) {
    :root {
        --fs-title: 24px;
        --fs-subtitle: 16px;
        --fs-body: 14px;
        --fs-small: 9px;
    }
}

/* ***** reset ***** */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
}

a {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    transition: color .3s ease;
}

a:hover {
    color: var(--clr-primary-orange);
}

button {
    font-family: inherit;
    font-size: inherit;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    font-style: italic;
    color: var(--clr-primary-orange);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    width: minmax(100%, 1440px);
    font-family: var(--ff-main);
    font-weight: var(--fw-400);
    font-size: var(--fs-body);
    color: var(--clr-neutral-body);  
    background: var(--clr-primary-main-bg);
}


/* ***** typography ***** */
.availability {
    display: inline-flex;
    align-items: center;
    gap: .4rem;
    padding: .3rem .68rem;
    font-size: var(--fs-small);
    background: var(--clr-neutral-bgjob-grey);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.title {
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-500);
}

.hero-title {
    font-size: var(--fs-title);
    font-weight: var(--fw-600);
    color: var(--clr-neutral-white);
}

.section-title, .work-heading {
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-500);
}

.work-heading {
    color: var(--clr-neutral-white);
}

.work-time {
    font-weight: var(--fw-400);
}

.work-company {
    font-weight: var(--fw-400);
}

.card-text {
    font-weight: var(--fw-500);
}

.hero-buttons > a {
    font-size: 11px;
    font-weight: var(--fw-500);
}

.footer-social-links a {
    font-weight: var(--fw-400);
}


/* ***** typography ***** */
.borders {
    background: var(--clr-neutral-bg-grey);
    border: 1px solid var(--clr-primary-sec-bg);
    border-radius: 8px;
}


/* ***** components ***** */
.hero-buttons > a {
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    color: var(--clr-neutral-white);
    padding: 10px 9px;
    background: var(--clr-primary-orange);
    border-radius: 5.5px;
    box-shadow: 0 2px 15px hsl(9, 89%, 58%, 50%);
}

.hero-buttons > *:nth-child(2) {
    box-shadow: none;
    background: var(--clr-neutral-bgjob-grey)
}

.card-text {
    text-align: center;
    padding: 2.06rem 1.375rem;
    background: linear-gradient(35deg, #1B1B1B 60%, hsl(9, 89%, 58%, 40%));
}

.right-border {
    background: linear-gradient(35deg, #1B1B1B 70%, hsl(9, 89%, 58%, 40%));
}

.left-border {
    background: linear-gradient(-135deg, #1B1B1B 70%, hsl(9, 89%, 58%, 40%));
}
